@import 'variables.scss';
@import 'mixins.scss';
@import 'resets.scss';

body {
	background-color: $clr-900darkBlue;
	font-size: 15px;
	color: white;
	display: grid;
	place-content: center;
	min-height: 100vh;
	font-family: $FontFamily-Primary;
}
.survey {
	height: auto;
	width: 325px;
	background: $Gr-card;
	padding: 25px;
	display: grid;
	border-radius: 1rem;
	&__icon {
		@include flexer();
		width: 2.7rem;
		height: 2.7rem;
		background-color: $clr-400blueGray;
		border-radius: 50%;
	}
	&__title {
		margin-top: 1rem;
		font-size: 1.6rem;
		font-weight: $Fw-regular;
	}
	& p {
		margin: 10px 0 10px 0;
		color: $clr-100gray;
		font-size: $Fs-Paragraph;
	}
	&__score {
		height: 2.7em;
		width: 2.7rem;
		border: 0;
		color: $clr-100gray;
		background-color: $clr-400blueGray;
		border-radius: 50%;
		&:hover {
			background-color: $clr-Orange;
			color: white;
			cursor: pointer;
		}
		&--active {
			background-color: $clr-100gray;
			color: white;
		}
	}
	&__submit {
		background-color: $clr-Orange;
		border-radius: 2rem;
		border: none;
		padding: 0.7rem;
		color: white;
		text-transform: uppercase;
		letter-spacing: 2px;
		&:hover {
			background-color: $clr-White;
			color: $clr-Orange;
			cursor: pointer;
		}
	}
}

.flex-score {
	margin: 25px 0 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.survey-result {
	@include flexer(column, center, center);
	display: none;
	height: auto;
	width: 325px;
	background: $Gr-card;
	padding: 25px;
	border-radius: 1rem;
	& img {
		padding: 0.5rem;
	}
	&__value {
		@include flexer();
		height: 2rem;
		margin: 1rem;
		padding: 1rem;
		font-size: $Fs-Paragraph;
		background-color: $clr-400blueGray;
		border-radius: 1rem;
		color: $clr-Orange;
	}
	&__greeting {
		font-size: 1.6rem;
		font-weight: $Fw-regular;
		margin: 0.3rem;
	}
	&__content {
		padding: 0.5rem;
		font-size: $Fs-Paragraph;
		color: $clr-100gray;
		text-align: center;
	}
}

@media (min-width: 410px) {
	.survey {
		width: 410px;
		padding: 30px;
		border-radius: 2rem;
		&__score {
			height: 3.2rem;
			width: 3.2rem;
			margin-bottom: 0.5rem;
		}
		&__title {
			margin-top: 2rem;
		}
	}
	.survey-result {
		width: 410px;
		padding: 35px 18px 35px 18px;
		border-radius: 2rem;
		gap: 0.5rem;
		&__value {
			font-size: 0.9rem;
			padding: 1.2;
		}
		&__content {
			// margin-top: 1rem;
			font-size: 1rem;
		}
	}
}
